.homepage {
  top: 60px;
  position: absolute;
  
  h2 {
    margin-top: 10px;
    color: #FFF;
    text-align: center;
    font-size: 1.5em;
    font-family: Avenir, sans-serif;
  }

  .rover-img {
    width: 100%;
  }
}