.rover-select-form {
  margin-top: 10px;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  select {
    font-family: Avenir, sans-serif;
    width: 200px;
    font-size: 12px;
    padding: 5px;
  }

  button {
    margin: 0 auto;
    margin-top: 15px;
    display: block;
    background: rgb(190, 190, 190);
    transition: 0.4s;
  }

  button:hover {
    background: #888;
  }
}